*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
	position: absolute;
	right: 50px;
	left: 300px;
	margin: 10px;
	max-width: 1000px;
	padding: 20px;
	background-color: white;
}

.form-content{
	width: 450px;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 15%;
/*	transform: translate(-50%, -50%);*/
	background: #191919;
	text-align: center;
	border-radius: 24px;
}

.form-content h2{
	margin: 15px 0;
	color: white;
	text-transform: uppercase;
	font-size: 2.9rem;
	text-align: center;
}

/* Full-width input fields */
.form-content .input[type=text] {
	width: 250px;
	border: 0;
	padding: 15px 10px;
	display: block;
	margin: 5px auto;
	text-align: center;
	background: #none;
	border: 2px solid #3498db;
	border-radius: 24px;
	transition: 0.25s;
}

.form-content .input[type=text]:focus{
	border-color: #ddd;
	width: 350px;
}

.btn{
	display: block;
	width: 100px;
	height: 50px;
	position: relative;
	border-radius: 25px;
	outline: none;
	border: 2px solid #3498db;
	background: none;
/*	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);*/
/*	background-size: 200%;*/
	font-size: 1.2rem;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover{
	background: #3498db;
}

.form-content .span{
	color: white;
}